{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add{% endblock title %}


{% block body %}

    <div class="container d-grid gap-2 col-6 mx-auto mt-5">
        <center><h1>Add Employee </h1></center>
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Add" class="btn btn-outline-success">
            </form>
        </div>
        
    </div>
{% endblock body %}